<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="production">
		<environment id="DS1">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="org.hsqldb.jdbcDriver" />
				<property name="url" value="jdbc:hsqldb:hsql://localhost/test" />
				<property name="username" value="sa" />
				<property name="password" value="" />
			</dataSource>
		</environment>
		<environment id="DS2">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="org.hsqldb.jdbcDriver" />
				<property name="url" value="jdbc:hsqldb:hsql://localhost/test" />
				<property name="username" value="sa" />
				<property name="password" value="" />
			</dataSource>
		</environment>		
	</environments>
	<mappers>
		<mapper class="com.github.samuelbr.dbcheck.SqlMapper"/>
	</mappers>
	<!-- 
	<mappers>
		<mapper resource="org/mybatis/example/BlogMapper.xml" />
	</mappers>
	 -->
</configuration>